/* Общие стили блока контактов для шапки и подвала */
.address {
  display: flex;
  flex-direction: column;
  font-style: normal;
  line-height: 1.35;
  text-underline-offset: 4px;
}

/* Общие стили заголовков секций */
.section__title {
  font-size: 40px;
  text-transform: uppercase;
}

/* Общие стили затемнения изображений */
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

/* Шапка сайта */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-transform: lowercase;
  text-underline-offset: 3px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 136px;
}

.header__address {
  justify-self: end;
  max-width: 240px;
}

/* Секция cover */
.cover__container {
  padding-bottom: 180px;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 757px;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  color: #fff;
  text-transform: uppercase;
  z-index: 1;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 100px;
  line-height: 1.15;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  font-size: 22px;
  line-height: 1.27;
  font-weight: normal;
  word-spacing: 18px;
}

.bet-button {
  padding: 12px 32px;
  font-size: 22px;
  font-weight: normal;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

/* Секция lots */
.lots__container {
  padding: 0 24px 120px;
}

.lots__title {
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 30px;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 334px;
  min-height: 596px;
  list-style: none;
}

.card-link {
  height: 100%;
  text-decoration: none;
  color: #fff;
}

.card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  /* При увеличении объема текста между заголовком и текстом должен остаться отступ */
  margin-bottom: 30px;
  font-size: 22px;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.card__text {
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  margin-left: 40px;
  font-size: 20px;
  text-transform: lowercase;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

/* Секция about */
.about__container {
  padding: 0 24px 180px;
}

.about {
  display: grid;
  grid-template-columns: 334px auto;
  grid-template-rows: auto auto;
  gap: 8px 25px;
  padding-top: 35px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  justify-self: center;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  align-self: center;
}

.about__text {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  line-height: 1.2;
}

/* Подвал сайта */
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 50px 82px;
  font-size: 18px;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__menu-link {
  text-transform: lowercase;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  justify-self: end;
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer__social-link {
  display: block;
  width: 48px;
}
