/* Шапка сайта */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
  font-size: 18px;
  /* TODO: заменить на множитель */
  line-height: 24px;
}

.header__menu {
  /* TODO: пока нет стилей */
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  /* TODO: пока нет стилей */
  text-transform: lowercase;
} 

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 136px;
}

/* Общие стили блока контактов для шапки и подвала */
.address {
  font-style: normal;  
}

.header__address {
  justify-self: end;
  display: flex;
  flex-direction: column;
  max-width: 240px;
}

/* Основной контент */

.section {
  margin-bottom: 180px;
}

/* Секция cover */

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 757px;
  padding: 165px 50px 50px;
  background-image: url(/images/cover.jpg);
  color: #fff;
  text-transform: uppercase;
  z-index: 1;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, .6);
  z-index: -1;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 100px;
  line-height: 115%;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
 font-size: 22px;
 line-height: 28px;
 font-weight: normal;
 word-spacing: 18px;
}

.bet-button {
  padding: 12px 32px;
  font-size: 22px;
  line-height: 28px;
  font-weight: normal;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

/* Секция lots */

.lots {
  margin-bottom: 120px;
  padding: 0 24px;
  background-color: rgb(213, 123, 236);
}

.lots__heading {
  margin-left: 40px;
  margin-bottom: 27px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  margin-bottom: 30px;

}

.lots__card-list-item {
  list-style: none;
  width: 334px;
  min-height: 596px;
}

.card-link {
  text-decoration: none;
  color: #fff;
  height: 100%;
}

.card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.card_type_film {
  background-image: url(/images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(/images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(/images/card-lot-03.jpg);
}

.card__title {
  font-size: 22px;
  font-weight: bold;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
}

.card__text {
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  margin-left: 40px;
  font-size: 20px;
  text-transform: lowercase;
}

/* Секция about */

.about {
  display: grid;
  grid-template-columns: 334px auto;
  gap: 25px;
  padding: 0 24px;
  background-color: rgb(95, 236, 189);
}

.about__column {
  /* TODO: пока нет стилей */
}

.center {
  justify-self: center;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
}

.about__logo-image {
  width: 146px;
}

.about__title {
  margin-top: 136px;
  margin-bottom: 100px;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
}
